name: Deploy react to AWS
on:
  push:
    branches:
      - "master"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout source code
      uses: actions/checkout@v2

    - name: Generate deployment package
      run: zip -r deploy.zip . -x '*.git*'

    - name: Deploy to EB
      uses: einaregilsson/beanstalk-deploy@v21
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: CICD-JBreizh
        environment_name: Cicdjbreizh-env
        version_label: 1.1
        existing_bucket_name: elasticbeanstalk-eu-north-1-959799487831
        region: eu-north-1
        deployment_package: deploy.zip
      